.ball1{
    float:left;
    width:100px;
    height:100px;
    margin-top:100px;
    background-color:#66CCCC;
    border-radius:100%;
    align-items: center;
    transition:all 10s ease-in-out;
    -webkite-transition:all 10s ease-in-out;
    -moz-transition:all 10s ease-in-out;
    animation:ball2 2s infinite;
    -webkit-animation:ball2 2s infinite;
    -moz-animation:ball2 2s infinite;
    border:5px solid #222;
   }
   @keyframes ball2{
   20%{
    background-color:#FFFF66;
    margin-top:200px;
    transition:all 0.5s ease-in-out;
   }
   40%{
    background-color:#CC66FF;
    margin-top:-50px;
    width:150px;
    height:150px;
    transition:all 0.5s ease-in-out;
   }
   60%{
    background-color:#FF3366;
    margin-top:200px;
    transition:all 0.5s ease-in-out;
   }
   80%{
    background-color:#FF9966;
    margin-top:-100px;
    width:100px;
    height:100px;
    transition:all 0.5s ease-in-out;
   }
   95%{
    width:150px;
    height:150px;
    margin-top:250px;
    background-color:#000000;
    transition:all 0.5s ease-in-out;
   }
   }