/* This css file is a copy of Analog_clock.css .In this file i have made minor changes to display analog clock on landing page */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   }
   .clock
   {
     width: 250px;
     height: 250px;
     display: flex;
     position:relative;
     left:20px;
     top:5px;
     justify-content: center;
     align-items: center;
     background: url(../Images/clock.png);
     background-size: cover;
     border: 5px solid pink;
     border-radius: 50%;
     box-shadow: 0  -15px 15px rgba(255,255,255,0.05),
                           inset 0  -15px 15px  rgba(255,255,255,0.05),
                           0 15px 15px rgba(0,0,0,0.3),
                           inset 0 15px 15px rgba(0,0,0,0.3);
}
  .clock:before
{
content: ' ';
position: absolute;
width: 15px;
height: 15px;
background: orange;
border-radius: 50%;
z-index: 10000;
}
 .clock .hour,
 .clock .min,
 .clock .sec
{
  position: absolute;
}
.clock  .hour,  .hr
{
  width: 160px;
  height: 160px;
}
.clock  .min,  .mn
{
   width: 190px;
   height: 190px;
}
.clock  .sec,  .sc
{
  width: 230px;
  height: 230px;
}
 .hr , .mn , .sc
{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}
.hr:before
{
  content: ' ' ;
  position: absolute;
  width: 8px;
  height: 80px;
  background: lightgrey;

  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before
{
  content: ' ' ;
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before
{
  content: ' ' ;
  position: absolute;
  width: 2px;
  height: 150px;
  background: red;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
