@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa&display=swap');

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
    padding: 0; margin: 0;
    
}
.logo{
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #00C2CB; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.nav {
  position: fixed;
  background-color: #41465D;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: bold;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav a.current,
.nav a:hover {
  color: #FF914D;
  font-weight: bold;
}


body{
  overflow-x: hidden;
  background-color: whitesmoke;
}

/* preloader */
.preloadeR {
  background: #41465D;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  z-index: 9999999;
}
.preloadeR span {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}
.preloadeR span::before,
.preloadeR span::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #FF914D;
  position: absolute;
  animation: load 1s infinite alternate ease-in-out;
}
.preloadeR span::before {
  top: 0;
}
.preloadeR span::after {
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}
/* ------------ */

#scrollto{
  margin-top: 2em;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
    width: 30rem;
    height: 32rem;
    margin: 2rem;
    filter: drop-shadow(5px 5px 4px gray);
    border-radius: 10px;
    text-align: center;
}
.title{
    margin: 3em 0em .5em 0; 
    font-family: 'Space Mono';
    font-size: 3.5em;
    color: rgb(65 70 93);
    text-align: center;
}

#searchbar{
   padding: .5em 1em;
   width: 25%;
   border-radius: 10px;
   border: 3px solid #00C2CB;
   font-family: 'Space Mono';
}

@media only screen and (max-width:476px){
  #searchbar{
    width: 70%;
  }
  .title{
    margin-top: 5em;
    font-size: 45px;
  }
  #back-to-top{
    position: relative;
    z-index: 10;
  }
}

/* CARDS DESIGN STARTS  */

.image{
  padding: .5em;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.styles {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  
  margin-top: 4vmin;
  flex-wrap: wrap;
}

.stylebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  padding: .2rem;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  margin: 1.5rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
  box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.3);
  transition: .2s;
}

.stylebox:hover{
  transform: translate(0,-10%);
}
.stylebox .image {
  margin: auto;
  width: 90%;
  overflow: hidden;
  height: 13rem;
  transition: .4s;
}

.stylebox .image::after{
content: '';
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border-radius: 10px;
background: rgb(65, 70, 93);
transform: translate(110%,0);
transition: .4s;
}

.stylebox .image img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.stylebox .image:hover::after{
  /* transform: scale(1.17); */
  transform: translate(-110%,0);
  /* border-radius: .5em; */
}
/*  */

.card-heading{
  text-align: center;
  color: #121212;
  font-size: 18px;
  font-weight: 500;
  margin: .5em .5em;
  font-family: 'Poppins';
}
.card-data{
  display: flex;
  flex-direction: column;
}

button{
  border: 0px ;
  width: 95%;
  font-size: 1em;
  background-color: #41465d;
  font-family: 'Poppins';
  font-weight: bold;
  padding: .5em;
  transition: 0.3s;
  margin: 1em auto 1em auto;
}

.btnn:hover{
  background-color: #101522;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10vmin;
  }
  .stylebox {
    padding: .3rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image {
    overflow: hidden;
    width: 17rem;
    height: 12rem;
    padding: 0;
    margin: 0;
    padding: .5em .5em 0 .5em;
    border-radius: 0.5rem;
    transition: .3s;
  }
}




/* CARDS DESIGN ENDS */

.background-container{
  display: grid;
  place-content: center;
}

.footer {
  background-color: #121212;
  padding-bottom: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.footer-heading{
  font-family: 'Bitter', serif;
  text-align: center;
  margin: 50px 0 30px 0;
}

.icon {
  text-align: center;
}

.social-icon {
  margin: 0 0 15px 0;
  color: white;
}

.social-icon:hover {
  color: #66BFBF;
}

.copyright-message {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 70px;
  color: #A0A0A0;
}

.footer-about {
  text-align: justify;
  width: 80%;
  font-size: 1rem;
  margin: 0 0 20px 50px;
}

.footer-hr-1 {
    width: 70%;
    border-width: medium;
    margin:auto;
    margin-bottom: 40px;
    background-color: yellow;
}

.organisations {
  line-height: 1.2rem;
  text-align: center;
  /* position: absolute;
  left: 120px; */
}

.footer-hr-2 {
  background-color: white;
  width: 50%;
  margin: auto;
}

li {
  color: white;
}

li:hover {
  left: 15px;
  color: #66BFBF;
}


#back-to-top{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  left: 2rem;
  bottom: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #ffff;
  border: none;
  /* outline: none; */
  cursor: pointer;
}


/* Loading css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');


.loading {
	opacity: 0;
	display: flex;
  justify-content:center;
  width:100%;
	transition: opacity .3s ease-in;
  margin:10px;
  margin-bottom:20px;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}
