@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa&display=swap');

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
    padding: 0; margin: 0;
    
}
.logo{
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #121212;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: bold;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}
.nav.active a.current, .nav.active a:hover{
  color: red;
}
.nav.active .container {
  padding: 3px 0;
}

.nav a.current,
.nav a:hover {
  color: yellow;
  font-weight: bold;
}


body{
  overflow-x: hidden;
  background-color: #121212;
}

#scrollto{
  margin-top: 2em;
}
.card{
    width: 30rem;
    height: 32rem;
    margin: 2rem;
    filter: drop-shadow(5px 5px 4px gray);
    border-radius: 10px;
}
.title{
    margin: 3em 0em .5em 0; 
    font-family: 'Space Mono';
    font-size: 3.5em;
    color: white;
    text-align: center;
}

#searchbar{
   padding: .5em 1em;
   width: 25%;
   border-radius: 10px;
   border: 3px solid #4568;
   font-family: 'Space Mono';
}


/* CARDS DESIGN STARTS  */

.image{
  padding: .5em;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.image:hover{
  padding: 0;
}

.styles {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  
  margin-top: 4vmin;
  flex-wrap: wrap;
}

.stylebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  padding: .2rem;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  margin: 1.5rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
  transition: .2s;
}
.stylebox:hover {
  
  box-shadow: 15px 15px 17px #000;
}
.stylebox .image {
  width: 98%;
  overflow: hidden;
  height: 13rem;
  border-radius: .5em;
  transition: .4s;
}

.stylebox .image img{
  height: 100%;
  width: 100%;
}

.stylebox .image:hover{
  transform: scale(1.17);
  border-radius: .5em;
}
/*  */

.card-heading{
  display: flex;
  color: #121212;
  font-size: 18px;
  font-weight: 500;
  margin: 1em .5em;
  font-family: 'Poppins';
}
.card-data{
  display: flex;
  flex-direction: column;
}

button{
  border: 2px solid #101522;
  width: 95%;
  font-size: 1em;
  background-color: #101522;
  font-family: 'Poppins';
  font-weight: bold;
  padding: .5em;
  transition: 0.3s;
  margin-left: .5em;
  margin-bottom: 1em ;
}

.btnn:hover{
  background-color: #101522;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10vmin;
  }
  .stylebox {
    padding: .3rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image {
    overflow: hidden;
    width: 17rem;
    height: 12rem;
    padding: 0;
    margin: 0;
    padding: .5em .5em 0 .5em;
    border-radius: 0.5rem;
    transition: .3s;
  }
}




/* CARDS DESIGN ENDS */

.background-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #121212;
  padding-bottom: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.footer-heading{
  font-family: 'Bitter', serif;
  text-align: center;
  margin: 50px 0 30px 0;
}

.icon {
  text-align: center;
}

.social-icon {
  margin: 0 0 15px 0;
  color: white;
}

.social-icon:hover {
  color: #66BFBF;
}

.copyright-message {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 70px;
  color: #A0A0A0;
}

.footer-about {
  text-align: justify;
  width: 80%;
  font-size: 1rem;
  margin: 0 0 20px 50px;
}

.footer-hr-1 {
    width: 70%;
    border-width: medium;
    margin:auto;
    margin-bottom: 40px;
    background-color: yellow;
}

.organisations {
  line-height: 1.2rem;
  text-align: center;
  /* position: absolute;
  left: 120px; */
}

.footer-hr-2 {
  background-color: white;
  width: 50%;
  margin: auto;
}

li {
  color: white;
}

li:hover {
  left: 15px;
  color: #66BFBF;
}


#back-to-top{
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  left: 2rem;
  bottom: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #ffff;
  border: none;
  /* outline: none; */
  cursor: pointer;
}


/* Loading css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');


.loading {
	opacity: 0;
	display: flex;
  justify-content:center;
  width:100%;
	transition: opacity .3s ease-in;
  margin:10px;
  margin-bottom:20px;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}
