@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa&display=swap');

*{
    padding: 0; margin: 0;
}

.card{
    width: 30rem;
    height: 32rem;
    margin: 2rem;
    filter: drop-shadow(5px 5px 4px gray);
    border-radius: 10px;
}
.title{
    margin-top: 2.3rem;
    font-family: 'Comfortaa';
    font-size: 3rem;
    text-align: center;
}
.title:hover{
    color: #eb7e8e;
}
.card1{
    margin-top: 4rem;
}
.card-img-top{
    width: auto;
    height: 18rem;
    border-radius: 10px;

}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card p{
    font-family: 'Architects Daughter';
    font-size: 18px;
    color: black;
}
#inc-p{
    color: black;
}
.card h5, .card a{
    font-family: 'Comfortaa';
    font-weight: bolder;
}
body {
	background: linear-gradient(-45deg, #ffc0cb, #ffe4e1, #ffb6c1, #fddde6, #ffcff1, #fbcce7);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (max-width: 500px){
    .card{
        width: 20rem;
        height: 26.6rem;
        margin: 1.5rem;
        border-radius: 20px;
    }
    .card-img-top{
        width: auto;
        height: 12rem;
        border-radius: 20px;
    }
}

@media (max-width: 412px){
    .card{
        width: 22rem;
        height: 24rem;
        margin: 1.5rem;
    }
    .card p{
        font-size: 16px;
    }
    .card h5{
        font-size: 18px;
    }
    .card-img-top{
        width: auto;
        height: 10rem;
    }
}

.footer {
  background-color: #101010;
  padding-bottom: 20px;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.footer-heading{
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 50px 0 30px 0;
}

.icon {
  text-align: center;
}

.social-icon {
  margin: 0 0 15px 0;
  color: white;
}

.social-icon:hover {
  color: #66BFBF;
}

.copyright-message {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 70px;
  color: #A0A0A0;
}

.footer-about {
  text-align: justify;
  width: 80%;
  font-size: 1rem;
  margin: 0 0 20px 50px;
}

hr {
    width: 180px;
    border-width: medium;
    margin:auto;
    margin-bottom: 40px;
    background-color: yellow;
}

.developers {
  line-height: 0.5rem;
  position: absolute;
  left: 120px;
}

li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  padding-bottom: 5px;
}

li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}

li:hover {
  left: 15px;
  color: #66BFBF;
}
