* {
  background-color: bisque;
}
img {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 26%;
  max-height: 25%;
}
#target {
  position: fixed;
  top: 58%;
  left: 47.6%;
  font-size: 1.6rem;
}
h1 {
  font-size: 2.6rem;
  color: bisque;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  #top {
    margin-top: 20%;
  }
  #target {
    position: fixed;
    top: 51.5%;
    left: 43%;
    font-size: 1.3rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  #top {
    margin-top: 20%;
  }
  #target {
    position: fixed;
    top: 61.5%;
    left: 44.5%;
    font-size: 2.2rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
  }
}
