@import url('https://fonts.googleapis.com/css2?family=Poppins:200;300;400;500;600;700;800;900&display=swap');
*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card
{
    position: relative;
    width: 250px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;

}
.container .card:hover .content
{
   transform: translateY(0px);
   opacity: 1;

}
.container .card .content h2
{
    position:absolute;
    top: -110px;
    right:30px;
    font-size:8em;
    color: rgba(255, 255, 255,0.05);
    pointer-events: none;
}
.container .card .content h3
{
    font-size: 2.5em;
    color: #66fcf1;
    
    z-index: 1;
}
.container .card .content p
{
    font-size: 1em;
    color:#b7d8d6;
    font-weight: bold;
    

}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(221, 253, 249);
    color: #000;
    border-radius: 20px;
    text-decoration:none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0,0.2);
}

