body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}
.container {
    height: 500px;
    width: 290px;
    background-color: black;
    border: 5px solid silver;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 5% 25% 1fr 10%;
}
.top {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}

.top i {
    font-size: 10px;
}

.speaker {
    width: 50px;
    height: 7px;
    background-color: #333;
    border-radius: 10000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.camera {
    width: 7px;
    height: 7px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 62%;
}

.top .fa-battery-three-quarters {
    font-size: 14px;
}

.top .fa-location-arrow {
    transform: translateY(-1px);
}

/*************************/
.input-results {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    width: 75%;
    height: 40px;
    text-align: center;
    font-size: 22px;
    background-color: #000;
    color: #fff;
    border: 1px solid white;
    outline: none;
}

#input::placeholder {
    font-size: 12px;
}

#results {
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    color: royalblue;
    display: flex;
    flex-direction: column;
}

/*************************/
.buttons {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 10px;
}

.button {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    font-size: 22px;
    font-weight: 300;
    transition: all 0.2s;
}

.button:hover,
.button:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.button.phone-button:hover,
.button.phone-button:active {
    background: rgba(50, 205, 50, 0.8);
}

.button span {
    font-size: 8px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.button .fa-asterisk {
    font-size: 16px;
}

.button.phone-button {
    grid-column: 2 / 3;
    background-color: limegreen;
}

/*************************/
.bottom {
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    color: #aaa;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item i {
    font-size: 20px;
}

.item span {
    font-size: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.c {
    height: 5px;
    width: 5px;
    margin: 1px;
    background-color: royalblue;
    border-radius: 50%;
}

.keypad span {
    color: royalblue;
}