* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(56deg, crimson, yellow);
}
a{
    color: white;
}
.menu {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li{
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition: 400ms;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(100px);
}
.menu.active li{
    transform: rotate(calc(360deg / 7 * var(--i)));
}
.menu li a{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 6.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(360deg / -7 * var(--i)));
    box-shadow: 0 0px 4px rgba(0, 3, 0, 0.15);
    transition: 0.5s;
}
.toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
  font-size: 2em;
  transition: all 500ms ease;
}
.menu.active .toggle {
  transform: rotate(360deg);
}
