* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #d5e4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    background: #9e0f71;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 10%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10%;

}

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    background: #49025b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

}

.clock::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid rgb(0, 0, 0);
    background: #fff;
    border-radius: 50%;
}

.clock span {
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));

}

.clock span b {
    font-size: 2em;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle {
    position: absolute;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle1 {
    border-radius: 50%;
    background: hsla(0, 0%, 0%, 0.471);
}

.circle i {
    position: absolute;
    width: 6px;
    height: 38%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle2 {
    width: 240px;
    height: 240px;
}

.circle3 {
    width: 180px;
    height: 180px;
}

.circle::before {
    content: '';
    position: absolute;
    top: -8.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}

#time {
    margin-bottom: 40px;
    margin-top: 35px;
    margin-left: -40px;
    display: flex;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 20%;
    box-shadow: 5px 5px 10px #dc010180,
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

}

#time div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
    content: ':';
    position: absolute;
    right: -4px;
}

#time div:last-child {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}