
body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("../Images/Birthday_card/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("../GIF/Birthday_card/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("../GIF/Birthday_card/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("../GIF/Birthday_card/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("../GIF/Birthday_card/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("../GIF/Birthday_card/cheers.gif");
}
