#bottle-image{
    height: 60vh;
    width: 10vw;
    transition: transform 3s ease-out;
     display: block;
}

#image{
    position: absolute;
    top: 18vh;
    left: 43vw;
    transition: transform 3s ease-out;
}

#button{
    position: relative;
    left: 40vw;
    background-color: rgb(230, 53, 53);
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

output{
    position: relative;
    left: 30vw;
    top: 85vh;
    color: white;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline white;
}

body{
    background-color: black;
}