*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
 

.calculator-grid { 
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 90px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  
  background-color: transparent;
  /* border: 1px solid white; */
  outline: none;
  /* background-color: rgba(255, 255, 255, .75); */
}

.calculator-grid>button:hover {
  color: #0a0a0a;
  background-color: rgba(255, 255, 255, .9);
}

.operationbtn{ 
  color: #fbff00 !important;
  background: #1e1919 !important;
}
.operationbtn:hover{ 
  background-color: #000 !important;
  
}

.pie-button {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.superscript-text {
  font-size: 1.4rem;
}

.subscript-text{
  font-size: 1.2rem;
}

.span-two {
  color: white !important;
  font-size: 32px !important;
  font-weight: 800;
  background:  orangered !important;
  grid-column: span 2;
}
.span-two:hover{
  background: rgba(255, 68, 0, 0.888) !important;
}

.output {
  grid-column: 1 / -1;
  background-color: #0000006a;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}