
body{
	text-align: center;
	background: #FFF;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 50px;
  margin: 135px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 55px;
}

#clockdiv > div{
	padding: 50px;
	border-radius: 7px;
	background: #1F5A56;
	display: inline-block;
}

#clockdiv div > span{
	padding: 65px;
	border-radius: 3px;
	background: #000;
	display: inline-block;
}

span.minutes {}

span.minutes {}

.smalltext{
	padding-top: 5px;
	font-size: 25px;
}

