
/* Country Guide App css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins" , "Helvetica Neue", Helvetica, Arial;
  }
  body , html{
      height: 100%;
     
     
  }
.bg-country-image{
    background:url("../Images/country_guide_bg.jpg") blue;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    z-index: -1;
}

  h1{
    color: rgb(58, 58, 58);
    text-align: center;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-size: 45px;
    margin-bottom:5%;
  }
  
  .country_container {
    background-color: #e3e3e3;
    width: 80vw;
    max-width: 38em;
    padding: 2.5em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  }
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
  }
  .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  
  .result{
    margin-top: 1.25em;
  }
  .country_container .flag-img-1 {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
  }
  .country_container h2 {
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
  }
  .data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
  }
  .country_container h4 {
  display: inline;
  font-weight: 500;
  color: #222a43;
  }
  .country_container span {
  color: #5d6274;
  }
  .country_container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #ff465a;
  }