h2{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
}
h3{
    text-align: center;
    font-size: 30px;
}
footer{
    text-align: center;
}
body{
    background-color: rgb(0, 247, 255);
}
#game{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin:auto;
    background-image: url("../Images/dino-game/DinosaurGame\ bg.jpg");
}
#character{ 
    width: 75px;
    height: 75px;
    position: relative;
    top: 225px;
    background-image: url("../Images/dino-game/DinosaurGame\ character.webp");
    background-size: cover;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump{
    0%{top: 225px;}
    50%{top: 75px;}
    75%{top: 75px;}
    100%{top: 225px;}
}
#block{
    width: 80px;
    height: 80px;
    background-image: url("../Images/dino-game/DinosaurGame\ cactus.png");
    background-size: cover;
    position: relative;
    top: 145px;
    left: 520px;
    animation: block 1.33s infinite linear;
}
@keyframes block{
    0%{left: 550px;}
    100%{left:-50px;}
}