*{
    padding: 2px;
    margin: 4px;
}
.navbar{
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 13px rgb(64, 63, 63);
}
.navbar:hover{
    transform: scale(1.0009);
}
.btn{
    margin: 5px;
}
/* ::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-track{
    background-color: rgba(209, 202, 202, 0.626);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(99, 11, 99);
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 12px;
} */
