

#container {

width :375px;
height:425px;
margin-left:750px;
margin-top:200px;
line-height: 120%;
color:rgb(255, 72, 72);
background-color: white;
opacity: 0.6;
border: 1px solid rgb(255, 255, 255);
padding-left: 30px;
border-radius: 4px;


}

#feet{

	width:150px;
	height:25px;
	margin-top: 30px;
	margin-left:50px;
}

#inches{
    width:150px;
	height:25px;
	margin-top: 30px;
	margin-left: 35px
}

#result {

	font-size:35px;
	margin-left: 130px;
	color:rgb(255, 72, 72);
}

#submit{
	display: inline-block;
	font-size:25px;
	width:250px;
	height:35px;
	margin-left:35px;
	margin-top: 25px;
	line-height: 65%;
	color:rgb(255, 72, 72);
	border-radius: 5px;
	background-color:transparent;
	border: 1px solid rgb(255, 72, 72);
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color ease 400ms;
}

#submit:hover{
	color:rgb(109, 0, 0);
	background-color: rgba(228, 0, 0, 0.3);
}




h1{

	padding-left:15px;
	padding-top:25px;
}
