@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
*{
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right top, #2d0036, #4f015b, #730283, #9a02ac,#C400D7); 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .items{
    margin: 20px;
    height: 450px;
    background-color: #1F1B36;
    width: 50vh;
    max-width: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  body{
    margin: 0;
    padding: 0;
  }
  #counter{
    margin: 5px;
    padding: 10px;
    font-size: 4em;
  }
  #circle{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
     font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    background-color:#1F1B36 ;
    border: 1px solid #C400D7;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    color: white;
    font-style: bold;
    cursor: pointer;
    transition: ease-out 0.3s;
  }
  button:hover{
    color: #fff;
    cursor: pointer;
  }
 button:before{
   transition: 0.5s all ease;
   position: absolute;
   top:0;
   left:50%;
   right: 50%;
   bottom: 0;
   opacity: 0;
   content: "";
   background-color:#C400D7;
 }
 button:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  border-radius: 10px;
 }