@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    background-color:mintcream;
}
.col-sm{
    padding-top:20px;
}
.card{
    width:18rem;
}
/* css for analog clock */
   .Analog{
    background-color: yellow;
    height: 280px;
   }
   #analogclock{
    height:160px;
   }
   .clock
   {
     width: 250px;
     height: 250px;
     display: flex;
     position:relative;
     left:20px;
     top:5px;
     justify-content: center;
     align-items: center;
     background: url(../Images/clock.png);
     background-size: cover;
     border: 5px solid pink;
     border-radius: 50%;
     box-shadow: 0  -15px 15px rgba(255,255,255,0.05),
                           inset 0  -15px 15px  rgba(255,255,255,0.05),
                           0 15px 15px rgba(0,0,0,0.3),
                           inset 0 15px 15px rgba(0,0,0,0.3);
}
  .clock:before
{
content: ' ';
position: absolute;
width: 15px;
height: 15px;
background: orange;
border-radius: 50%;
z-index: 10000;
}
 .clock .hour,
 .clock .min,
 .clock .sec
{
  position: absolute;
}
.clock  .hour,  .hr
{
  width: 160px;
  height: 160px;
}
.clock  .min,  .mn
{
   width: 190px;
   height: 190px;
}
.clock  .sec,  .sc
{
  width: 230px;
  height: 230px;
}
 .hr , .mn , .sc
{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}
.hr:before
{
  content: ' ' ;
  position: absolute;
  width: 8px;
  height: 80px;
  background: lightgrey;

  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before
{
  content: ' ' ;
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before
{
  content: ' ' ;
  position: absolute;
  width: 2px;
  height: 150px;
  background: red;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

/*end of css for analog clock*/
/* css for auto_write_text */
.auto-write{
	background-color:#eb3173;
	 height:280px;
}
#auto-write-target{
	color:white;
	padding-top:40px;
}
#auot-write-text{
    height:185px;
}
/* end of css for auto_write_text */
/* css for calculator */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    /*min-height: 100vh;*/
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(120px, auto) repeat(5, 40px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 1.1rem;
    border: 1px solid white;
    outline: none;
    background-color:darkblue; /*rgba(255, 255, 155, .75);*/
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
    color: blue;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
/*End of css for calculator*/
/*css for color_flipper_1*/
#Color_flipper_1{
	height:200px;
    background-color:palevioletred;
}
h2{
	color:ghostwhite;
	text-transform: capitalize;
	background: black;
}
.color{
	color:ghostwhite;
	text-transform: capitalize;
}
.btn1{
  border:1px solid black;
}
/*End of css for color_flipper1*/
/* css for color_flipper_2*/
.colorflipper2{
	background-color:plum;height:200px;
}
.auto-write-target-class{
	padding-left: 60px;
	bottom: 50%;
  position:absolute;
	color: ghostwhite;
}
p{
    color:ghostwhite;
    font-size:20px;
    padding-left:10px;
}
/* end of css for color_fliopper2 */
/* css for digital_clock */
.clock1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.digitalclock{
    height:200px;
    background-color: black;
}
/*End of css for digital_clock*/
/* css for login form */
#loginform{
	height:250px
}
/*End of ss for login form*/
/* css for purple heart */
.heart {
    position: fixed;
    top: -1vh;
    font-size: 1rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
#purpleheart{
    height:230px;
}
/*End of css for purple heart*/
/*css for quiz*/
.quiz-container
{
    background-color: #fff ;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.2);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
}
.quiz-header
{
    padding:1rem;
}
h2{
    text-align: center;
    padding: o.5rem;
    margin: 0;
}
ul
{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1rem;
    margin: 1rem 0;
    
}
ul li label{
    cursor: pointer;
}
button
{
  background-color: #8e44ad;
  border: none;
  cursor: pointer;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
}
button:hover{
    background-color: #732d91;
}
button:focus{
    background-color: #732d91;
    outline: none;

}
/*End of css for quiz*/
/* css for music */
.card-img-top{
   height:200px;	
}
#music{
	height:155px;
}
/*End of css for music*/
/*css for notification*/
#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

button {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
    font-family: inherit;
    border-radius: 5px;
    border: none;
}

.toast {
    background-color: rebeccapurple;
    padding: 2rem;
    color: white;
    border-radius: 5px;
    margin: 3rem;
}
 #notification{
   height:110px;
 }
/*End of css for notification*/
/*css for weather*/
.input {
  background-color: #abcde4d5;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 280px;
}

input:focus {
  outline: none;
}

.weather {
  font-size: 2rem;
  text-align: center;
}

.weather h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.card-img-top{
	height:200px;
}
/*End of css for weather*/