
html{
    min-height:100vh;
    
}
body {
    background-size: cover;
    margin:0;
    background-image: url("../Images/memory/cartoon.jpg");
    
}
.page-title{
    margin-top:5px;
    color: rgb(219, 47, 76);
    font-family: 'Emilys Candy', cursive;
    font-weight: normal;
    text-align: center;
    font-size:3.5em;
}
.game-info-container{
    margin-top:8px;
    grid-column: 1/-1;
    display:flex;
    justify-content: space-between;
}
.game-info{
    font-size:2em;
    font-family: 'Emilys Candy', cursive;
    color:rgb(219, 47, 76);
    font-weight: bold;
}
.game-container{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin:50px;
    justify-content: center;
    perspective: 500px;
}
.card{
    position: relative;
    height: 110px;
    width:80px;
    border-radius: 10px;
}

.card-face{
    position:absolute;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius:10px;
    border-width:1px;
    border-style:solid;
    transition:transform 500ms ease-in-out;
}
.card.visible .card-back{
transform:rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}
.card.matched .card-value{
    animation:dance 1s linear infinite 500ms;
}
.overlay-text {
    display:none;
    position:fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    justify-content:center;
    align-items:center;
    z-index: 100;
    color:rgb(219, 47, 76);
    font-family: 'Emilys Candy', cursive;

}
.overlay-text-small{
    font-size:.3em;

}
.overlay-text.visible{
    display:flex;
    flex-direction: column;
    animation:overlay-grow 500ms forwards;
}
@keyframes overlay-grow{
    from{
    background-color: rgba(0,0,0,0);
    font-size:0; 
    }
    to{
        background-color: rgba(0,0,0,.8);
        font-size:10em;
    }
}
@keyframes dance{
    0%,100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}
.card-back{
    background-image:linear-gradient(violet,pink);
    border-color: #fff;
}
.card-front{
    background-color:rgba(255, 249, 249);
    border-color:#fff;
    transform:rotateY(180deg);

}


.card-value{
    width:60px;
    height:60px;
    transition:transform 100ms ease-in-out;
    transform:scale(.9);
}

@media(max-width:600px){
    
    .game-container{
        grid-template-columns:repeat(2,auto);}
        .game-info-container{
flex-direction: column;
align-items:center;
        }
}
