* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9f9f9;
  }
  .music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    font-weight: 400;
    font-size: 3em;
    color: #345b63;
    display: inline-flex;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .player {
    background-color: #fbfbfb;
    position: relative;
    width: 500px;
    min-height: 100px;
    border: 2px solid #fff;
    border-radius: 80px;
    padding: 20px 30px;
    box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(0, 0, 0, 0.1),
      inset -5px -5px 15px #fff, inset 5px 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-reflect: below 10px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.315));
  }
  
  .btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .btns span {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    cursor: pointer;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1),
      0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .btns span.playPause {
    width: 100px;
    height: 100px;
  }
  .btns span:active,
  .btns span.active {
    color: #ff669a;
    box-shadow: inset 0 -7px 5px rgba(0, 0, 0, 0.025),
      inset 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .btns span ion-icon {
    font-size: 2em;
  }
  .btns span.playPause ion-icon {
    font-size: 3em;
  }