img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}