* {
  margin: 0;
  padding: 0;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: aquamarine;
  box-shadow: 2px 2px 2px #000;
  text-transform: uppercase;
  line-height: 42px;
  position: absolute;
}

#tooltip {
  z-index: 10;
  width: 100px;
  padding: 10px;
  display: none;
  background: #ccc;
  position: relative;
  top: 45px;
  border-radius: 5px;
}

#container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}