* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  body {
    background-color: #B983FF;
  }
  .container {
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  #card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  #card img {
    display: block;
    width: 200px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
  }
  .hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 500;
    font-size: 20px;
  }
  .pokemon-name {
    text-align: center;
    font-weight: 1000;
    font-size: 45px;
  }
  .pokemon-types {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 40px 0;
  }
  .hp span,
  .pokemon-types span {
    font-size: 25px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }
  .pokemon-types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
  }
  .pokemon-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .pokemon-stats p {
    color: #404060;
  }
  #btn {
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    position: relative;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
  }
  