* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(12, 12, 12);
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
}
.second {
  background-color: rgb(39, 186, 76);
  height: 55%;
  width: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 10px lightgreen;
  overflow: hidden;
}
.left {
  background-color: rgb(39, 186, 76);
  height: 90%;
  width: 30%;
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}
p {
  position: relative;
  top: 20%;
  letter-spacing: 4px;
}
.right {
  background-color: rgb(39, 186, 76);
  height: 90%;
  width: 70%;
}
div.right form {
  margin: 5%;
  display: flex;
  flex-direction: column;
}
div.right form input {
  margin: 1%;
  font-size: 1rem;
  border-radius: 5px;
  padding: 4px;
}
div.right p {
  position: relative;
  top: 2%;

  letter-spacing: 1px;
}

table{
  width: 600px;
  margin-left: auto;
  margin-right: auto;


}

td,tr{
  padding: 8px;
  text-align: center;
}

table,tr,td,th{
  border: 1px solid black;
  font-size: 20px;

}
