body {
  margin: 0;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.squarespace-cdn.com/content/v1/5755bccb8259b515333df0e1/1466111941034-GIIKB6HB6ADZB2O0D7HW/Stocksy_comp_461838.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Position the navbar container inside the image */
.container {
  position: fixed;
  margin-left: 2.5vh;
  width: auto;
  opacity: 0.86;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  opacity: 1;
}

/* Navbar links */
.topnav a {
  font-size: 2.4vh;
  font-family: sans-serif;
  letter-spacing: 0.4vh;
  float: left;
  color: white;
  text-align: center;
  padding: 2vh 2.2vh;
  text-decoration: none;
  opacity: 1;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
h1 {
  border: 3px;
  padding-top: 22vh;
  padding-right: 0;
  text-align: center;
  color: rgb(240, 231, 231);
  font-family: Cambria;
  font-size: 7vh;
  font-weight: 600;
}

hr {
  width: 50%;
}

h3 {
  padding-top: 1.2vh;
  padding-right: 0;
  text-align: center;
  color: rgb(240, 231, 231);
  font-family: Cambria;
  font-size: 3.5vh;
  font-weight: 500;
}
.cont {
  padding-bottom: 23vh;
  padding-right: 0;
  text-align: center;
  color: rgb(240, 231, 231);
  font-family: "Gill Sans";
  font-size: 3.5vh;
  font-weight: 700;
}
marquee {
  padding-bottom: 22vh;
}
* {
  box-sizing: border-box;

  text-decoration: none;
}
footer {
  width: 100%;
  position: relative;
  opacity: 0.8;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
.topic {
  padding-left: 0.5vh;
}
footer .content p {
  padding-left: 0.5vh;
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 0px 0px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #eb2f06;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #eb2f06;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #eb2f06;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}
