.container{
    border: 1px solid black;
    width:75%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
}

.flex-box-sps{
    display: flex;
    border: 1px solid black;
    padding:10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1% ;
}

.flex-box-sps img:hover{ 
    box-shadow: 0px 10px 50px rgb(46, 212, 241);

}
