@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
body {
    background-color: #f6cce5;
}

#container {
  text-align: center;
}

.padd {
    font-size: 5.6rem;
    font-family: 'Water Brush', cursive;
}

table {
  border-collapse: collapse;
  font-size: 2em;
  margin: 0 auto;
}

colgroup,
tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
}

.btns{
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
  margin-top: 15px;
  font-size: 1.5em;
  background-color: #A288E3;
  color: white;
  margin-left: 5px;
  border: #A288E3;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover{
    color: #A288E3;
    background-color: white;
    outline: #A288E3;
    transition: all 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .padd {
        font-size: 4.2rem;
    }
    
    table {
      font-size: 1.5em;
    }

    button{
        font-size: 1rem;
    }
}