body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: black;
}
h1{
    margin-bottom: 0;
    color: #3463c9;
}
p{
    margin-top: 0;
    color: #e67518;
}
input{
    width: 100%;
    border: 1px solid #4af029;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
}
button{
    background: #e944e1;
    border: none;
    border-radius: 1px;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}
#clbtn-el{
    background: rgb(255, 255, 255);
    color: #5f9341;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #ffffff;
    font-size: 1rem;
}