@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background:  url("hotel5.jpg") center/cover no-repeat;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 100px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-size: 50px;
  color: #fff;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 80px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fdfbfb;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: counter() ;
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #f7f5f5;
  transition: .5s;
  color: #f7f5f5;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #f7f9fc;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
  
}
.pass{
  margin: -5px 0 20px 5px;
  color: #dcf30a;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #173a52;
  border-radius: 25px;
  font-size: 18px;
  color: #f9fbfc;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #fcf8f8;
}
.signup_link a{
  color: #f4f808;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
