*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'poppins', sans-serif;
    color: #171a20;

}

.desktop {
    display: none;
}

@media (min-width: 1200px) {
    .desktop {
        display: initial;
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    font-weight: 500;
}

a.logo {
    height: 12px;
    width: 100px;
    color: inherit;
}

header a {
    color: inherit;
}

header nav a {
    text-decoration: none;
    padding: 5px 10px;
}

header nav.center {
    text-align: center;
}

header nav.right{
    text-align: end;
}

section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content{
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1{
    font-size: 3rem;
}

section a{
    color: inherit;
}

section .buttons a{
    display: block;
    background-color: #eee;
    color: inherit;
    border-radius: 25px;
    padding: 12px 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

section .buttons a:first-child{
    background-color: #222;
    color: #fff;
}

section .buttons{
    display: grid;
    row-gap: 20px;
}
@media (min-width: 768px) {
    section .buttons{
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

aside{
    position: fixed;
    transition: right .4s ease-in-out;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: white;
    padding: 80px 30px;
    z-index: 4;
    font-weight: 500;
}

aside.active{
    right: 0;
}

aside a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 8px 0;
    font-size: 15px;
}

aside button.close{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
    font-family: sans-serif;
    cursor: pointer;
}

.backdrop{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .35);
    backdrop-filter: blur(5px);
}

.backdrop.active{
    display: block;
}