$white: #fff;
$black: #000;
$main_bg: #f3f5f8;
$dark_text: #131313;
$nav_link_hover: #ff914d;
$light_text: #757575;
$light_border: #e5e9ef;
$shadow_box: 0px 0px 30px 0px rgba(14, 41, 50, 0.08);
$shadow_hover: rgba(0, 0, 0, 0.09) 0px 3px 12px;

/* MEDIA SCREENS 
@media screen and (min-width: 1500px) {
  
 }
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
