$white: #fff;
$black: #000;
$main_bg: #f3f5f8;
$dark_text: #131313;
$nav_link_hover: #ff914d;

/* MEDIA SCREENS 
@media screen and (min-width: 1500px) {
  
 }
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
