/* ---------------------------MIXINS--------------------------- */

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------CONTAINER VARIABLE---------------------- */
.container_main {
  padding: 1rem;

  @media screen and (min-width: 400px) {
    padding: 2rem;
  }
}

/* --------------------------------------TEXT VARIABLES-------------------------------------- */

.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_600 {
  font-weight: 600;
}
.fw_600 {
  font-weight: 600;
}
.fw_600 {
  font-weight: 600;
}

.light_text {
  color: $light_text;
}

.large_text {
  font-size: 1.2rem;
  color: $dark_text;
  line-height: normal;

  @media screen and (min-width: 400px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 576px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 992px) {
    font-size: 3rem;
  }
}

.small_text {
  font-size: 0.9rem;
  line-height: normal;
  width: 100%;

  @media screen and (min-width: 576px) {
    font-size: 1rem;
  }

  &.max_w {
    max-width: 100%;
    line-height: normal;
    margin: 0 auto;

    @media screen and (min-width: 576px) {
      line-height: 1.7rem;
      max-width: 90%;
    }

    @media screen and (min-width: 1200px) {
      max-width: 60%;
    }
  }
}

.active_menu {
  color: $nav_link_hover !important;
}

.loading {
  opacity: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: opacity 0.3s ease-in;
  margin: 10px;
  margin-bottom: 20px;

  &.show {
    opacity: 1;
  }
  .ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump 0.5s ease-in infinite;

    &:nth-of-type(2) {
      animation-delay: 0.1s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

#back-to-top {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  left: 2rem;
  bottom: 2rem;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 50%;
  box-shadow: $shadow_hover;
  background: $dark_text;
  color: $white;
  border: none;
  z-index: 10;
  cursor: pointer;
}
