@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* MEDIA SCREENS 
@media screen and (min-width: 1500px) {

 }
@media screen and (min-width: 1200px) {

 }
    @media screen and (min-width: 992px) {

    }

    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/
/* ---------------------------MIXINS--------------------------- */
/* ----------------------CONTAINER VARIABLE---------------------- */
.container_main {
  padding: 1rem;
}
@media screen and (min-width: 400px) {
  .container_main {
    padding: 2rem;
  }
}

/* --------------------------------------TEXT VARIABLES-------------------------------------- */
.fw_100 {
  font-weight: 100;
}

.fw_200 {
  font-weight: 200;
}

.fw_300 {
  font-weight: 300;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_600 {
  font-weight: 600;
}

.fw_600 {
  font-weight: 600;
}

.fw_600 {
  font-weight: 600;
}

.light_text {
  color: #757575;
}

.large_text {
  font-size: 3rem;
  color: #131313;
  line-height: normal;
}

.small_text {
  font-size: 1rem;
  line-height: normal;
  width: 100%;
}
.small_text.max_w {
  max-width: 60%;
  line-height: 1.7rem;
  margin: 0 auto;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background: #f3f5f8;
}

.nav_hero_inner {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  min-height: 40vh;
}
@media screen and (min-width: 992px) {
  .nav_hero_inner {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1500px) {
  .nav_hero_inner {
    max-width: 80%;
  }
}
.nav_hero_inner a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------HEADER SECTION-------------------------------------- */
header {
  position: relative;
  /* DROPDOWN MENU */
}
header .navbar {
  width: 100%;
  z-index: 200;
  padding: 1rem 0;
  transition: all 1s ease-in-out;
}
header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 1200px) {
  header .navbar ul {
    gap: 2rem;
  }
}
header .navbar ul li {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.1rem;
  cursor: pointer;
  color: #131313;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
header .navbar ul li:hover {
  color: #ff914d;
  border-bottom: 2px solid #131313;
}
header .navbar ul li > span {
  display: none;
}
@media screen and (min-width: 1200px) {
  header .navbar ul li > span {
    display: block;
  }
}
header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  header .navbar_inner {
    font-size: 1.5rem;
  }
}
header .navbar_inner .menu_items,
header .navbar_inner .contact_items,
header .navbar_inner .navbar_right {
  display: none;
}
header .navbar_inner .toogle_btn {
  display: block;
  color: #131313;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .menu_items,
  header .navbar_inner .contact_items,
  header .navbar_inner .navbar_right {
    display: block;
  }
  header .navbar_inner .toogle_btn {
    display: none;
  }
}
header .navbar_logo_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.1px;
}
header .navbar_logo_sec img {
  width: 1.5rem;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 576px) {
  header .navbar_logo_sec img {
    width: 2.5rem;
  }
}
header .navbar_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media screen and (min-width: 1400px) {
  header .navbar_left {
    gap: 7rem;
  }
}
header .dropdown_menu {
  position: absolute;
  top: 4.5rem;
  font-size: 1rem;
  z-index: 20;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  background: #fff;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 576px) {
  header .dropdown_menu {
    right: 1rem;
    width: 300px;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown_menu {
    position: fixed;
  }
}
header .dropdown_menu.open {
  height: 25rem;
}
header .dropdown_menu_inner {
  padding: 1rem 0;
  text-transform: capitalize;
}
header .dropdown_menu ul {
  text-align: center;
  display: grid;
  place-items: center;
  padding: 0;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
header .dropdown_menu ul li {
  cursor: pointer;
}
header .dropdown_menu ul li:hover {
  color: #fff;
}
header .dropdown_menu ul li > img {
  position: relative;
  inset: 0.6rem 0;
}
@media screen and (min-width: 992px) {
  header .dropdown_menu {
    display: none;
  }
}

/* --------------------------------------HERO SECTION-------------------------------------- */
.hero_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
}
.hero_top {
  display: grid;
  gap: 1.5rem;
}/*# sourceMappingURL=landing_page.css.map */